[user]
  name = Jan Behrends
  email = workwith@janbehrends.de
[core]
  editor = vi
  excludesfile = ~/.gitignore
  autocrlf = input
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[init]
  defaultBranch = main
[web]
  browser = google-chrome
[push]
  default = simple
[merge]
  tool = kdiff3
[difftool]
  prompt = false
[pull]
	rebase = true
